In [15]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split,cross_val_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.compose import ColumnTransformer

In [5]:
df=pd.read_csv('train.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [6]:
df.dropna(inplace=True)

In [7]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  22.0   7.2500      1      0         0
1  38.0  71.2833      1      0         1
2  26.0   7.9250      0      0         1
3  35.0  53.1000      1      0         1
4  35.0   8.0500      0      0         0

In [8]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [11]:
x_train.head()

      Age     Fare  SibSp  Parch
328  31.0  20.5250      1      1
73   26.0  14.4542      1      0
253  30.0  16.1000      1      0
719  33.0   7.7750      0      0
666  25.0  13.0000      0      0

In [13]:
## without binarisation  

clf=DecisionTreeClassifier()

clf.fit(x_train,y_train)

y_pred= clf.predict(x_test)

accuracy_score(y_test,y_pred)

0.6363636363636364

In [16]:
np.mean(cross_val_score(DecisionTreeClassifier(),x,y,cv=10,scoring='accuracy'))

0.6401604068857589

In [19]:
## applying binarisation--

from sklearn.preprocessing import Binarizer

trf = ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [22]:
x_train_trf = trf.fit_transform(x_train)
x_test_trf = trf.fit_transform(x_test)

ValueError: A given column is not a column of the dataframe