In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("play_tennis.csv")
data.head()
data.drop(columns=['day'],inplace=True)

In [3]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [4]:
## problem 1

## outlook=sunny,temp=Hot,Humidity = High, wind= weak
## play or no play

In [5]:
## solution 

## p(yes/sunny,hot,high,weak) = p(sunny / yes) * p(hot/yes) * p(high/yes) *  p(weak/yes)

## p(no/sunny,hot,high,weak) = p(sunny / no) * p(hot/no) * p(high/no) *  p(weak/no)

## compare and decide using the maximum posteriori rule

In [6]:
## problem 2

## outlook=Overcast , temp=Cold , Humidity = Low , wind= weak

## play or no play

In [7]:
## solution 

## p(yes/Overcast,Cold,low,weak) = p(Overcast / yes) * p(Cold/yes) * p(low/yes) *  p(weak/yes)

## p(no/Overcast,Cold,low,weak) = p(Overcast / no) * p(Cold/no) * p(low/no) *  p(weak/no)

## compare and decide using the maximum posteriori rule

In [8]:
## Training --

## Lookup Table -- (Dictionary)--

## Testing --

In [9]:
## P(yes)
## P(no)

In [10]:
data['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [11]:
py = 9/14
pn = 5/14

In [12]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [13]:
## Outlook 

pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [14]:
pon  =  0
prn = 2/5
psn = 3/5

poy = 4/9
pry = 3/9
psy = 2/9

In [15]:
## temp

pd.crosstab(data["temp"],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [16]:
pcool =  1/5
photn =  2/5
pmn   = 2/5

pcoy = 3/9
phoy = 2/9
pmiy = 4/9

In [17]:
## Humidity--
pd.crosstab(data["humidity"],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [18]:
phn = 4/5
pln = 1/5

phy = 3/9
ply = 6/9

In [19]:
## wind-----

pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [20]:
psn = 3/5
pwn = 2/5

psy = 3/9
pwy = 6/9

In [21]:
## outlook=sunny,temp=Hot,Humidity = High, wind= weak

pyes = py * psy * phy * phoy * pwy

pno = pn * psn * phn * photn * pwn

In [22]:
print(pyes)
print(pno)

0.010582010582010581
0.02742857142857143

In [ ]:
## No Play